<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="cms/vendor/autoload.php"
         colors="true">
  <testsuites>
    <testsuite name="MD Framework">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>cms/lib</directory>
    </include>
  </source>
</phpunit>
